In [1]:
from glob import glob
import pandas as pd

flickr8k_captions = '/srv/data/aics/03-image-captioning/data/flickr8k/captions.txt'
flickr8k_images = '/srv/data/aics/03-image-captioning/data/flickr8k/Images/*.jpg'

images = glob(flickr8k_images)
captions = pd.read_csv(flickr8k_captions, delimiter = ',')

In [2]:
images[:3]

['/srv/data/aics/03-image-captioning/data/flickr8k/Images/2387197355_237f6f41ee.jpg',
 '/srv/data/aics/03-image-captioning/data/flickr8k/Images/2609847254_0ec40c1cce.jpg',
 '/srv/data/aics/03-image-captioning/data/flickr8k/Images/2046222127_a6f300e202.jpg']

In [3]:
captions.head(7)

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...
5,1001773457_577c3a7d70.jpg,A black dog and a spotted dog are fighting
6,1001773457_577c3a7d70.jpg,A black dog and a tri-colored dog playing with...

In [4]:
captions.shape[0] / 5

8091.0

In [5]:
len(images)

8091

In [6]:
dataset = captions

In [7]:
def add_path(image):
    for item in images:
        if image in item:
            return item
    return None

In [8]:
dataset['path'] = dataset.apply(lambda row: add_path(row.image), axis=1)

In [9]:
dataset.head(7)['path'].values

array(['/srv/data/aics/03-image-captioning/data/flickr8k/Images/1000268201_693b08cb0e.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1000268201_693b08cb0e.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1000268201_693b08cb0e.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1000268201_693b08cb0e.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1000268201_693b08cb0e.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1001773457_577c3a7d70.jpg',
       '/srv/data/aics/03-image-captioning/data/flickr8k/Images/1001773457_577c3a7d70.jpg'],
      dtype=object)

In [10]:
dataset.head()

,image,caption,path
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...,/srv/data/aics/03-image-captioning/data/flickr...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .,/srv/data/aics/03-image-captioning/data/flickr...
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .,/srv/data/aics/03-image-captioning/data/flickr...
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...,/srv/data/aics/03-image-captioning/data/flickr...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...,/srv/data/aics/03-image-captioning/data/flickr...

In [11]:
dataset.to_csv('/srv/data/aics/03-image-captioning/data/flickr8k_preprocessed.csv', sep='\t')